@import url("/node_modules/bootstrap/");
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-select-bs5/css/select.bootstrap5.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  width: 99%;
  background-color: #E9E9E9;
  height: 100vh;
}
body .btn-add {
  background-color: rgb(7, 165, 83);
  border-radius: 0.7em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}
body .btn-add:hover {
  background-color: #ffffff;
  border: 0px solid rgb(7, 165, 83);
  font-weight: 700;
  color: rgb(7, 165, 83);
}
body .container-action {
  display: inline-block;
}
body .container-action .btn-edit {
  background-color: rgb(247, 144, 34);
  border-radius: 0.7em;
  padding-inline: 18px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s;
}
body .container-action .btn-edit:hover {
  padding-inline: 17px;
  padding-block: 6px;
  background-color: #ffffff;
  border: 1px solid rgb(247, 144, 34);
  font-weight: 700;
  color: rgb(247, 144, 34);
}
body .container-action .btn-delete {
  background-color: rgb(195, 8, 8);
  border-radius: 0.7em;
  padding-inline: 10px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}
body .container-action .btn-delete:hover {
  padding-inline: 9px;
  padding-block: 6px;
  background-color: #ffffff;
  border: 1px solid rgb(195, 8, 8);
  font-weight: 700;
  color: rgb(195, 8, 8);
}
body .container-fluid-nav {
  width: 100vw;
  padding-right: 15px;
  padding-left: 15px;
}
body .background-image {
  position: absolute;
  top: 110px;
  left: 710px;
  width: 32%;
  height: auto;
  background-color: transparent; /* Warna latar belakang jika gambar tidak tersedia */
}
@media screen and (max-width: 991px) {
  body .background-image {
    position: relative; /* Mengubah posisi menjadi relatif untuk menempatkan di bawah container */
    top: auto;
    left: 300px;
    padding-top: 90px; /* Atur jarak antara gambar dan container */
  }
}
@media screen and (max-width: 500px) {
  body .background-image {
    position: relative; /* Mengubah posisi menjadi relatif untuk menempatkan di bawah container */
    top: auto;
    left: 145px;
    padding-top: 90px;
  }
}
body h1 {
  text-align: center;
  color: #253560;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  body {
    background-position-y: 70vh;
    background-position-x: 50vh;
  }
}
body .custom-nav {
  background-color: #ffffff;
  padding-inline: 17px;
  border-radius: 4em;
}
body .custom-nav .navbar-brand img {
  width: auto;
  height: 40px;
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}
body .custom-nav .navbar-brand span {
  color: #253560;
  font-weight: 600;
  font-size: 1.4rem;
}
body .custom-nav .navbar-toggler {
  border: none;
  border-radius: 2em;
  margin-inline: 10px;
  transition: 0.4s ease-in-out;
}
body .custom-nav .navbar-toggler:hover {
  border: 1px solid #253560;
  background-color: #dee4f2;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 992px) {
  body .custom-nav #navbarSupportedContent {
    padding: 20px;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    transition: 0.3s ease;
  }
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: #253560;
  font-weight: 400;
  font-size: 18px;
  margin-inline: 7px;
  transition: 0.3s ease;
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  color: white;
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .fitur-btn {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .fitur-btn:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
@media screen and (max-width: 992px) {
  body .custom-nav {
    padding-block: 10px;
  }
}
body .container-landing {
  padding-top: 10.5rem;
}
body .container-landing .custom-section {
  color: #253560;
  padding-inline: 140px;
}
body .container-landing .custom-section h2 {
  font-weight: 600;
  font-size: 2.7rem;
  color: #152551;
}
body .container-landing .custom-section p {
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 1rem;
  width: 121%;
}
body .container-landing .custom-section a {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
body .container-landing .custom-section a:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
@media screen and (max-width: 992px) {
  body .container-landing .custom-section {
    margin-inline: -7px;
    font-size: smaller;
  }
  body .container-landing .custom-section h2 {
    font-weight: 600;
    font-size: 2.89rem;
  }
}
body .container-stats {
  background-color: transparent;
  margin-top: 10rem;
  margin-bottom: 4rem;
}
body .container-stats .card {
  background-color: transparent;
  text-align: center;
  padding-block: 25px;
  border: none;
}
body .container-stats .card .card-icon {
  font-size: 4rem; /* Ukuran ikon diperbesar */
  margin-bottom: 5px; /* Jarak antara ikon dan angka */
}
body .container-stats .card .span-head {
  font-size: 125%;
  font-weight: 600;
}
body .container-stats .card .span-count {
  font-weight: 600;
  font-size: 45px;
}
@media screen and (max-width: 992px) {
  body .container-stats {
    margin-top: 7rem;
  }
}
body .container-head {
  background-color: transparent;
  margin-block: 10rem;
  text-align: center;
}
body .container-head p {
  width: 100%;
  margin-block: 33px;
}
body .container-head .card {
  background-color: transparent;
  text-align: center;
  padding: 20px;
  border: none;
}
body .container-head .card .card-icon {
  font-size: 3rem; /* Ukuran ikon diperbesar */
  margin-bottom: 10px; /* Jarak antara ikon dan angka */
}
body .container-head .card .span-head {
  font-size: 90%;
  font-weight: 500;
}
body .container-head .card .span-count {
  font-weight: 600;
  font-size: xx-large;
}
body .container-pengumuman {
  background-color: transparent;
  text-align: center;
}
body .container-pengumuman .row {
  margin-top: 10px;
}
body .container-pengumuman .row .card {
  margin-top: 25px;
  background-color: transparent;
  text-align: center;
  padding: 20px;
}
body .container-pengumuman a {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
body .container-pengumuman a:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
body .container-layanan {
  background-color: transparent;
  margin-top: 7rem;
}
body .container-layanan .card {
  margin-top: 30px;
  background-color: transparent;
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  text-align: center;
  align-items: center;
  padding-block: 25px;
}
body .container-layanan .card:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
body .container-layanan .card .card-icon {
  font-size: 4rem; /* Ukuran ikon diperbesar */
  margin-bottom: 5px; /* Jarak antara ikon dan angka */
}
body .container-layanan .card .span-head {
  font-size: 130%;
  padding-inline: 25px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  body .container-layanan {
    margin-top: 7rem;
  }
}
body .container-umkm, body .container-p {
  background-color: transparent;
  text-align: center;
}
body .container-umkm .heading-center, body .container-p .heading-center {
  margin-top: 6rem;
}
body .container-umkm .card-container, body .container-p .card-container {
  text-align: justify;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Menentukan jumlah kolom dan lebar minimum dan maksimum */
  gap: 30px; /* Jarak antar kartu */
}
body .container-umkm .fixedButton, body .container-p .fixedButton {
  position: fixed;
  bottom: 20px; /* Ubah sesuai dengan jarak dari bawah yang diinginkan */
  right: 20px; /* Ubah sesuai dengan jarak dari kanan yang diinginkan */
  z-index: 999; /* Atur nilai z-index agar tombol muncul di depan kartu-kartu */
}
body .container-umkm .roundedFixedBtn, body .container-p .roundedFixedBtn {
  border-radius: 25px;
  border-style: double;
  border-color: #ffffff;
  background-color: #152551;
  cursor: pointer;
}
body .container-umkm .roundedFixedBtn button, body .container-p .roundedFixedBtn button {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  padding: 10px;
  padding-inline: 25px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}
body .container-umkm .roundedFixedBtn button i, body .container-p .roundedFixedBtn button i {
  margin-right: 11px;
}
body .container-umkm .roundedFixedBtn button:hover, body .container-p .roundedFixedBtn button:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
body footer {
  color: #ffffff;
  margin-top: 4em;
  width: 101%;
  background-color: #253560;
}
body footer .f1 {
  padding-inline: 90px;
}
body footer .f2 {
  background-color: #152551;
}
body .container-p {
  background-color: transparent;
  margin-top: 6rem;
  text-align: center;
  @import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
  /* This pen */
  /* Cards */
  /* COLORS */
}
body .container-p p {
  width: 100%;
  margin-block: 33px;
}
body .container-p body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}
body .container-p .light {
  background: #f3f5f7;
}
body .container-p a, body .container-p a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
body .container-p #pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}
body .container-p .postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
body .container-p .postcard.light {
  background-color: #e1e5ea;
}
body .container-p .postcard .t-dark {
  color: #18151f;
}
body .container-p .postcard a {
  color: inherit;
}
body .container-p .postcard h1, body .container-p .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
body .container-p .postcard .small {
  font-size: 80%;
}
body .container-p .postcard .postcard__title {
  font-size: 1.75rem;
}
body .container-p .postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
body .container-p .postcard .postcard__img_link {
  display: contents;
}
body .container-p .postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
body .container-p .postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
body .container-p .postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
body .container-p .postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
body .container-p .postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 0.3s;
}
body .container-p .postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
body .container-p .postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
body .container-p .postcard:hover .postcard__bar {
  width: 100px;
}
@media screen and (min-width: 769px) {
  body .container-p .postcard {
    flex-wrap: inherit;
  }
  body .container-p .postcard .postcard__title {
    font-size: 2rem;
  }
  body .container-p .postcard .postcard__tagbox {
    justify-content: start;
  }
  body .container-p .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  body .container-p .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  body .container-p .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  body .container-p .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  body .container-p .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  body .container-p .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  body .container-p .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  body .container-p .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  body .container-p .postcard__text {
    padding: 2rem 3.5rem;
  }
  body .container-p .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  body .container-p .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  body .container-p .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
body .container-p .postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}
body .container-p .green .postcard__title:hover {
  color: #79dd09;
}
body .container-p .green .postcard__bar {
  background-color: #79dd09;
}
body .container-p .green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
body .container-p .green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
body .container-p .postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}
body .container-p .blue .postcard__title:hover {
  color: #0076bd;
}
body .container-p .blue .postcard__bar {
  background-color: #0076bd;
}
body .container-p .blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
body .container-p .blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
body .container-p .postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}
body .container-p .red .postcard__title:hover {
  color: #bd150b;
}
body .container-p .red .postcard__bar {
  background-color: #bd150b;
}
body .container-p .red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
body .container-p .red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
body .container-p .postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}
body .container-p .yellow .postcard__title:hover {
  color: #bdbb49;
}
body .container-p .yellow .postcard__bar {
  background-color: #bdbb49;
}
body .container-p .yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
body .container-p .yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
@media screen and (min-width: 769px) {
  body .container-p .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  body .container-p .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  body .container-p .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  body .container-p .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  body .container-p .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  body .container-p .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  body .container-p .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  body .container-p .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
body .sidebar {
  z-index: 1000;
  height: 100vh;
  position: fixed !important;
  left: 0px;
  background-color: #253560;
}
body .sidebar .nav-link, body .sidebar .bi {
  color: #ffffff;
}
body .card-header-tabel {
  background-color: #253560;
}
body .card-header-tabel h5 {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
body hr {
  margin-top: -20px;
  height: 10px;
  color: orange;
  background-color: orange;
  border: orange;
  opacity: 0.99;
}

.rjl {
  background-color: #152551;
  height: 90vh;
}
.rjl .container-rjl {
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: center; /* Menengahkan secara horizontal */
  align-items: center; /* Menengahkan secara vertikal */
}
.rjl .login-form {
  background-color: #4461AE;
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Menengahkan secara vertikal */
}
.rjl .login-form .form-header {
  display: inline;
  align-items: center;
  justify-content: space-between; /* Menengahkan secara horizontal */
  margin-bottom: 20px;
  padding-inline: 20px; /* Tambahkan padding agar tidak terlalu rapat dengan tepi */
  width: 100%; /* Mengisi lebar agar elemen lainnya tidak tumpang tindih */
}
.rjl .login-form .form-header h2 {
  text-align: center;
  color: #ffffff;
  margin: 0; /* Menghapus margin bawaan */
}
.rjl .login-form .form-header a {
  align-self: flex-start; /* Memposisikan elemen <a> di pojok kiri atas */
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}
.rjl .login-form .form-header a i {
  font-size: 150%;
}
.rjl .login-form .sirw_icon {
  width: auto;
  height: 100px;
  display: flex;
  margin-bottom: 15px;
  justify-items: center;
  align-self: center; /* Menengahkan vertikal */
}
.rjl .login-form form {
  display: flex; /* Menggunakan flexbox */
  flex-direction: column; /* Menjadikan flex-direction menjadi column */
  align-items: center; /* Menengahkan secara vertikal */
  justify-content: center; /* Menengahkan secara horizontal */
  margin-inline: 20px;
  margin-block: 13px;
}
.rjl .login-form form input {
  margin-bottom: 15px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 130%;
  border: 1px solid #ddd;
  border-radius: 25px;
}
.rjl .login-form form button {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  border: none;
  padding-block: 10px;
  padding-inline: 60px;
  cursor: pointer;
}
.rjl .login-form form button:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
.rjl .login-form form button:hover {
  background-color: #0d193f;
  color: #fff;
}
.rjl .login-form form a {
  color: #fff;
  display: block; /* Mengubah elemen <a> menjadi blok agar bisa mendapatkan ruang secara penuh */
  margin-bottom: 10px;
}
.rjl .login-form strong {
  color: rgb(224, 33, 33);
  font-size: smaller;
}/*# sourceMappingURL=app.css.map */