@import url("/node_modules/bootstrap/");
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-select-bs5/css/select.bootstrap5.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn-delete {
  background-color: rgb(195, 8, 8);
  border-radius: 0.7em;
  padding-inline: 14px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}
.btn-delete:hover {
  padding-inline: 13px;
  padding-block: 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: rgb(195, 8, 8);
}

.btn-edit {
  background-color: rgb(247, 144, 34);
  border-radius: 0.7em;
  padding-inline: 18px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s;
}
.btn-edit:hover {
  padding-inline: 17px;
  padding-block: 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: rgb(247, 144, 34);
}

.primary {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.primary:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}

.secondary {
  color: #152551;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
.secondary:hover {
  background-color: #152551;
  color: #fff;
  box-shadow: 5px 5px 5px 1px #5c5a5a;
}

.tertiary {
  background-color: #7384b3;
}

.fourth {
  background-color: #4461AE;
}

.orange {
  background-color: rgb(247, 144, 34);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.aktif {
  width: 220px;
  border-radius: 10px;
  background-color: #152551;
  /* Ganti dengan warna yang diinginkan */
}
.aktif p {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  width: 99%;
  background-color: #E9E9E9;
  height: 100vh;
}
body .btn-add {
  background-color: rgb(7, 165, 83);
  border-radius: 0.7em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}
body .btn-add:hover {
  background-color: #ffffff;
  border: 0px solid rgb(7, 165, 83);
  font-weight: 700;
  color: rgb(7, 165, 83);
}
body .btn-edit {
  background-color: rgb(247, 144, 34);
  border-radius: 0.7em;
  padding-inline: 18px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s;
}
body .btn-edit:hover {
  padding-inline: 17px;
  padding-block: 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: rgb(247, 144, 34);
}
body .btn-show {
  background-color: rgb(100, 136, 234);
  border-radius: 0.7em;
  padding-inline: 18px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s;
}
body .btn-show:hover {
  background-color: rgb(174, 234, 249);
  font-weight: 700;
  color: rgb(100, 136, 234);
}
body .btn-deleting {
  background-color: rgb(195, 8, 8);
  border-radius: 0.7em;
  padding-inline: 18px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}
body .btn-deleting:hover {
  padding-inline: 9px;
  padding-block: 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: rgb(195, 8, 8);
}
body .container-action {
  display: inline-block;
}
body .container-action .btn-show {
  background-color: rgb(100, 136, 234);
  border-radius: 0.7em;
  padding-inline: 18px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}
body .container-action .btn-show:hover {
  padding-inline: 17px;
  padding-block: 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: rgb(100, 136, 234);
}
body .container-action .btn-edit {
  background-color: rgb(247, 144, 34);
  border-radius: 0.7em;
  padding-inline: 18px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s;
}
body .container-action .btn-edit:hover {
  padding-inline: 17px;
  padding-block: 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: rgb(247, 144, 34);
}
body .container-action .btn-delete {
  background-color: rgb(195, 8, 8);
  border-radius: 0.7em;
  padding-inline: 14px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}
body .container-action .btn-delete:hover {
  padding-inline: 13px;
  padding-block: 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: rgb(195, 8, 8);
}
body .container-fluid-nav {
  width: 100vw;
  padding-right: 15px;
  padding-left: 15px;
}
body .main-image {
  position: absolute;
  top: 130px;
  left: 710px;
  width: 32%;
  height: auto;
  /* Warna latar belakang jika gambar tidak tersedia */
  /* Warna latar belakang jika gambar tidak tersedia */
}
@media screen and (min-width: 1370px) {
  body .main-image {
    /* Mengubah posisi menjadi relatif untuk menempatkan di bawah container */
    top: 100px;
    left: 350px;
    opacity: 20%;
    width: 50%;
    display: none;
    /* Mengisi lebar container penuh */
    /* Atur jarak antara gambar dan container */
  }
}
@media screen and (max-width: 992px) {
  body .main-image {
    /* Mengubah posisi menjadi relatif untuk menempatkan di bawah container */
    top: 100px;
    left: 200px;
    opacity: 20%;
    width: 50%;
    display: none;
    /* Mengisi lebar container penuh */
    /* Atur jarak antara gambar dan container */
  }
}
body h1 {
  text-align: center;
  color: #253560;
  font-weight: 600;
}
body .custom-nav {
  background-color: #ffffff;
  padding-inline: 17px;
  border-radius: 4em;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
  /* Penambahan bayangan */
}
body .custom-nav .navbar-brand img {
  width: auto;
  height: 40px;
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}
body .custom-nav .navbar-brand span {
  color: #253560;
  font-weight: 600;
  font-size: 1.4rem;
}
body .custom-nav .navbar-toggler {
  border: none;
  border-radius: 2em;
  margin-inline: 10px;
  transition: 0.4s ease-in-out;
}
body .custom-nav .navbar-toggler:hover {
  border: 1px solid #253560;
  background-color: #dee4f2;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 992px) {
  body .custom-nav #navbarSupportedContent {
    padding: 20px;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    transition: 0.3s ease;
  }
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: #253560;
  font-weight: 400;
  font-size: 18px;
  margin-right: 4px;
  transition: 0.3s ease;
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  color: white;
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .fitur-btn {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
body .custom-nav #navbarSupportedContent .navbar-nav .nav-item .fitur-btn:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
@media screen and (max-width: 992px) {
  body .custom-nav {
    padding-block: 10px;
  }
}
body .container-landing {
  padding-top: 10.5rem;
}
body .container-landing .custom-section {
  color: #253560;
  /* Warna latar belakang jika gambar tidak tersedia */
}
body .container-landing .custom-section h2 {
  font-weight: 600;
  font-size: 2.7rem;
  color: #152551;
}
body .container-landing .custom-section p {
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 1rem;
  width: 121%;
}
body .container-landing .custom-section a {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
body .container-landing .custom-section a:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
@media screen and (min-width: 1370px) {
  body .container-landing .custom-section {
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  body .container-landing .custom-section p {
    width: 100%;
    font-weight: 500;
  }
  body .container-landing .custom-section h5 {
    font-weight: 650;
    font-size: 150%;
  }
  body .container-landing .custom-section h2 {
    font-weight: 650;
    font-size: 320%;
  }
}
@media screen and (max-width: 992px) {
  body .container-landing .custom-section {
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  body .container-landing .custom-section p {
    width: 100%;
    font-weight: 600;
  }
  body .container-landing .custom-section h5 {
    font-weight: 650;
    font-size: 150%;
  }
  body .container-landing .custom-section h2 {
    font-weight: 650;
    font-size: 350%;
  }
}
body .container-rtrw {
  background-color: transparent;
  margin-top: 6.5rem;
}
body .container-rtrw .wrapper {
  background: linear-gradient(60deg, #420285, #08BDBD);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 13rem;
  margin-bottom: 13.5rem;
}
body .container-rtrw .carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .container-rtrw .carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  animation: carousel-animate-vertical 32s linear infinite;
}
body .container-rtrw .carousel__item:nth-child(1) {
  animation-delay: calc(2s * (1 - 16));
}
body .container-rtrw .carousel__item:nth-child(2) {
  animation-delay: calc(2s * (2 - 16));
}
body .container-rtrw .carousel__item:nth-child(3) {
  animation-delay: calc(2s * (3 - 16));
}
body .container-rtrw .carousel__item:nth-child(4) {
  animation-delay: calc(2s * (4 - 16));
}
body .container-rtrw .carousel__item:nth-child(5) {
  animation-delay: calc(2s * (5 - 16));
}
body .container-rtrw .carousel__item:nth-child(6) {
  animation-delay: calc(2s * (6 - 16));
}
body .container-rtrw .carousel__item:nth-child(7) {
  animation-delay: calc(2s * (7 - 16));
}
body .container-rtrw .carousel__item:nth-child(8) {
  animation-delay: calc(2s * (8 - 16));
}
body .container-rtrw .carousel__item:nth-child(9) {
  animation-delay: calc(2s * (9 - 16));
}
body .container-rtrw .carousel__item:nth-child(10) {
  animation-delay: calc(2s * (10 - 16));
}
body .container-rtrw .carousel__item:nth-child(11) {
  animation-delay: calc(2s * (11 - 16));
}
body .container-rtrw .carousel__item:nth-child(12) {
  animation-delay: calc(2s * (12 - 16));
}
body .container-rtrw .carousel__item:nth-child(13) {
  animation-delay: calc(2s * (13 - 16));
}
body .container-rtrw .carousel__item:nth-child(14) {
  animation-delay: calc(2s * (14 - 16));
}
body .container-rtrw .carousel__item:nth-child(15) {
  animation-delay: calc(2s * (15 - 16));
}
body .container-rtrw .carousel__item:nth-child(16) {
  animation-delay: calc(2s * (16 - 16));
}
body .container-rtrw .carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
body .container-rtrw .carousel__item-body {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}
body .container-rtrw .title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -3px;
}
@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  2.5%, 7.5% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  10%, 15% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  17.5%, 22.5% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  25% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 992px) {
  body .container-rtrw {
    margin-top: 7rem;
  }
}
body .container-statsngal {
  background-color: transparent;
  margin-top: 5.5rem;
  margin-bottom: -5rem;
}
body .container-statsngal .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  /* Hitam dengan 50% opacity */
  border: 1px solid #152551;
}
body .container-statsngal .card {
  background-color: transparent;
  text-align: center;
  padding-block: 25px;
  width: 150px;
  border: none;
}
body .container-statsngal .card .card-icon {
  font-size: 4rem;
  /* Ukuran ikon diperbesar */
  margin-bottom: 5px;
  /* Jarak antara ikon dan angka */
}
body .container-statsngal .card .span-head {
  font-size: 125%;
  font-weight: 600;
}
body .container-statsngal .card .span-count {
  font-weight: 600;
  font-size: 45px;
}
@media screen and (max-width: 992px) {
  body .container-statsngal {
    margin-top: 7rem;
  }
}
body .container-head {
  background-color: transparent;
  margin-block: 10rem;
  text-align: center;
}
body .container-head p {
  width: 100%;
  margin-block: 33px;
}
body .container-head .card {
  background-color: transparent;
  text-align: center;
  padding: 20px;
  border: none;
}
body .container-head .card .card-icon {
  font-size: 3rem;
  /* Ukuran ikon diperbesar */
  margin-bottom: 10px;
  /* Jarak antara ikon dan angka */
}
body .container-head .card .span-head {
  font-size: 90%;
  font-weight: 500;
}
body .container-head .card .span-count {
  font-weight: 600;
  font-size: xx-large;
}
body .container-pengumuman {
  background-color: transparent;
  margin-top: 5.5rem;
  text-align: center;
}
body .container-pengumuman .row .card {
  background-color: #253560;
  color: rgba(255, 255, 255, 0.8745098039);
  text-align: center;
}
body .container-pengumuman a {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
body .container-pengumuman a:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
body .container-layanan {
  background-color: transparent;
}
body .container-layanan .card {
  width: 225px;
  margin-top: 30px;
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-align: center;
  align-items: center;
  padding-block: 25px;
}
body .container-layanan .card:hover {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
  font-weight: 700;
  color: #253560;
}
body .container-layanan .card .card-icon {
  font-size: 4rem;
  /* Ukuran ikon diperbesar */
  margin-bottom: 5px;
  /* Jarak antara ikon dan angka */
}
body .container-layanan .card .span-head {
  font-size: 130%;
  padding-inline: 25px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  body .container-layanan {
    margin-top: 7rem;
  }
}
body .container-umkm,
body .container-p {
  background-color: transparent;
  text-align: center;
}
body .container-umkm .heading-center,
body .container-p .heading-center {
  margin-top: 6rem;
}
body .container-umkm .card-container,
body .container-p .card-container {
  text-align: justify;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Menentukan jumlah kolom dan lebar minimum dan maksimum */
  gap: 30px;
  /* Jarak antar kartu */
}
body .container-umkm .fixedButton,
body .container-p .fixedButton {
  position: fixed;
  bottom: 20px;
  /* Ubah sesuai dengan jarak dari bawah yang diinginkan */
  right: 20px;
  /* Ubah sesuai dengan jarak dari kanan yang diinginkan */
  z-index: 999;
  /* Atur nilai z-index agar tombol muncul di depan kartu-kartu */
}
body .container-umkm .roundedFixedBtn,
body .container-p .roundedFixedBtn {
  border-radius: 25px;
  border-style: double;
  border-color: #ffffff;
  background-color: #152551;
  cursor: pointer;
}
body .container-umkm .roundedFixedBtn button,
body .container-p .roundedFixedBtn button {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  padding: 10px;
  padding-inline: 25px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}
body .container-umkm .roundedFixedBtn button i,
body .container-p .roundedFixedBtn button i {
  margin-right: 11px;
}
body .container-umkm .roundedFixedBtn button:hover,
body .container-p .roundedFixedBtn button:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
body footer {
  color: #ffffff;
  margin-top: 4em;
  width: 101%;
  background-color: #253560;
}
body footer .f1 {
  padding-inline: 90px;
}
body footer .f2 {
  background-color: #152551;
}
body footer .no-footer {
  color: white;
  /* Warna teks normal */
  font-style: none;
}
body footer .no-footer:hover {
  color: #c0c0c0;
  /* Warna teks saat di hover */
}
body .container-p {
  background-color: transparent;
  margin-top: 6rem;
  text-align: center;
  @import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
  /* This pen */
  /* Cards */
}
body .container-p p {
  width: 100%;
  margin-block: 33px;
}
body .container-p body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}
body .container-p .light {
  background: #f3f5f7;
}
body .container-p a,
body .container-p a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
body .container-p #pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}
body .container-p .postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
body .container-p .postcard.light {
  background-color: #e1e5ea;
}
body .container-p .postcard .t-dark {
  color: #18151f;
}
body .container-p .postcard a {
  color: inherit;
}
body .container-p .postcard h1,
body .container-p .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
body .container-p .postcard .small {
  font-size: 80%;
}
body .container-p .postcard .postcard__title {
  font-size: 1.75rem;
}
body .container-p .postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
body .container-p .postcard .postcard__img_link {
  display: contents;
}
body .container-p .postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
body .container-p .postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
body .container-p .postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
body .container-p .postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 0.3s;
}
body .container-p .postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
body .container-p .postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
body .container-p .postcard:hover .postcard__bar {
  width: 100px;
}
@media screen and (min-width: 769px) {
  body .container-p .postcard {
    flex-wrap: inherit;
  }
  body .container-p .postcard .postcard__title {
    font-size: 2rem;
  }
  body .container-p .postcard .postcard__tagbox {
    justify-content: start;
  }
  body .container-p .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  body .container-p .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  body .container-p .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  body .container-p .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  body .container-p .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  body .container-p .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  body .container-p .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
  }
  body .container-p .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
  }
}
@media screen and (min-width: 1024px) {
  body .container-p .postcard__text {
    padding: 2rem 3.5rem;
  }
  body .container-p .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  body .container-p .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  body .container-p .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
body .container-p .postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}
body .container-p .green .postcard__bar {
  background-color: #79dd09;
}
body .container-p .green::before {
  background-image: linear-gradient(-30deg, rgba(122, 221, 9, 0.5), transparent 50%);
}
body .container-p .green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(122, 221, 9, 0.5), transparent 50%);
}
body .container-p .postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}
body .container-p .blue .postcard__bar {
  background-color: #0076bd;
}
body .container-p .blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 117, 189, 0.5), transparent 50%);
}
body .container-p .blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 117, 189, 0.5), transparent 50%);
}
body .container-p .postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}
body .container-p .red .postcard__bar {
  background-color: #bd150b;
}
body .container-p .red::before {
  background-image: linear-gradient(-30deg, rgba(189, 20, 11, 0.5), transparent 50%);
}
body .container-p .red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 20, 11, 0.5), transparent 50%);
}
body .container-p .postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}
body .container-p .yellow .postcard__bar {
  background-color: #bdbb49;
}
body .container-p .yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.5), transparent 50%);
}
body .container-p .yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.5), transparent 50%);
}
@media screen and (min-width: 769px) {
  body .container-p .green::before {
    background-image: linear-gradient(-80deg, rgba(122, 221, 9, 0.5), transparent 50%);
  }
  body .container-p .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(122, 221, 9, 0.5), transparent 50%);
  }
  body .container-p .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 117, 189, 0.5), transparent 50%);
  }
  body .container-p .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 117, 189, 0.5), transparent 50%);
  }
  body .container-p .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 20, 11, 0.5), transparent 50%);
  }
  body .container-p .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 20, 11, 0.5), transparent 50%);
  }
  body .container-p .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.5), transparent 50%);
  }
  body .container-p .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.5), transparent 50%);
  }
}
body .wrapper {
  display: flex;
}
body .wrapper #sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #152551;
}
body .wrapper #sidebar #toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}
body .wrapper #sidebar #toggle-btn i {
  font-size: 1.5rem;
  color: white;
}
body .wrapper #sidebar .sidebar-logo {
  margin: auto 0;
}
body .wrapper #sidebar .sidebar-logo a {
  color: white;
  font-size: 1.15rem;
  font-weight: 600;
}
body .wrapper #sidebar .sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}
body .wrapper #sidebar .sidebar-nav .sidebar-item {
  position: relative;
}
body .wrapper #sidebar .sidebar-nav .active {
  background-color: #1a2e65;
  border-left: 3px solid white;
}
body .wrapper #sidebar .sidebar-nav button.sidebar-link {
  background-color: #152551;
  padding-right: 162px;
  transition: all 0.25s ease-in-out;
}
body .wrapper #sidebar .sidebar-nav .sidebar-link {
  padding: 0.6rem 1.5rem;
  color: white;
  display: block;
  font-size: 1.1rem;
  white-space: nowrap;
  border: 0;
}
body .wrapper #sidebar .sidebar-nav .sidebar-link:hover {
  background-color: #253560;
  border-left: 3px solid white;
}
body .wrapper #sidebar .sidebar-nav .sidebar-link i {
  font-size: 1.2rem;
  margin-right: 0.75rem;
}
body .wrapper #sidebar .sidebar-nav .sidebar-profile {
  padding: 0.5rem 0.8rem;
  color: white;
  display: flex;
  font-size: 1.1rem;
  white-space: nowrap;
  border: 0;
}
body .wrapper #sidebar .sidebar-nav .sidebar-profile:hover {
  background-color: #253560;
  border-left: 3px solid white;
}
body .wrapper #sidebar .sidebar-nav .sidebar-profile i {
  font-size: 1.2rem;
  margin-right: 0.75rem;
}
body .wrapper #sidebar .sidebar-nav .sidebar-footer {
  margin-top: 10px;
  border-top: 3px solid orange;
}
body .wrapper #sidebar.expand {
  width: 280px;
  min-width: 280px;
}
body .wrapper #sidebar.expand .single-item-menu {
  margin-left: 36px;
}
body .wrapper #sidebar:not(.expand) .sidebar-logo,
body .wrapper #sidebar:not(.expand) .sidebar-link span {
  display: none;
}
body .wrapper #sidebar:not(.expand) .sidebar-logo .single-item-menu,
body .wrapper #sidebar:not(.expand) .sidebar-link span .single-item-menu {
  margin-left: 0px;
}
body .wrapper #sidebar:not(.expand) .sidebar-profile span {
  display: none;
}
body .wrapper #sidebar:not(.expand) .sidebar-profile span .single-item-menu {
  margin-left: 0px;
}
body .wrapper #sidebar:not(.expand) button.sidebar-link, body .wrapper button.sidebar-profile {
  padding-right: 12px;
}
body .wrapper #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #152551;
  padding: 0;
  min-width: 10rem;
  display: none;
}
body .wrapper #sidebar:not(.expand) .sidebar-dropdown {
  display: none;
}
body .wrapper #sidebar:not(.expand) .sidebar-dropdown.show {
  display: block;
  max-height: 15rem;
  width: 100%;
  opacity: 1;
}
body .wrapper #sidebar.expand .sidebar-profile[data-bs-toggle=collapse]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}
body .wrapper #sidebar.expand .sidebar-link[data-bs-toggle=collapse]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}
body .wrapper #sidebar.expand .sidebar-profile[data-bs-toggle=collapse].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
body .wrapper #sidebar.expand .sidebar-link[data-bs-toggle=collapse].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
body .wrapper .main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: black;
}
body .profile-picture {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0; /* Prevents the image from shrinking */
}
body .card-header-tabel {
  background-color: #253560;
}
body .card-header-tabel h5 {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
body hr.tabel {
  margin-top: -20px;
  height: 10px;
  color: orange;
  background-color: orange;
  border: orange;
  opacity: 0.99;
}
body hr.hrmain {
  margin-top: -20px;
  height: 10px;
  color: #152551;
  background-color: #152551;
  border: #152551;
  opacity: 0.99;
}

.auth {
  background-color: #152551;
  height: 100vh;
  /* Menggunakan tinggi viewport */
}
.auth .container-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Menggunakan tinggi viewport */
}
.auth .login-form {
  background-color: #4461AE;
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Menengahkan secara vertikal */
  /* Menengahkan secara horizontal */
  margin: auto;
  /* Menengahkan secara horizontal */
}
.auth .login-form .form-header {
  display: inline;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-inline: 20px;
  width: 100%;
}
.auth .login-form .form-header h2 {
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.auth .login-form .form-header a {
  align-self: flex-start;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}
.auth .login-form .form-header a i {
  font-size: 150%;
}
.auth .login-form .sirw_icon {
  width: auto;
  height: 100px;
  display: flex;
  margin-bottom: 15px;
  justify-items: center;
  align-self: center;
}
.auth .login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;
  margin-block: 13px;
}
.auth .login-form form input {
  margin-bottom: 15px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 130%;
  border: 1px solid #ddd;
  border-radius: 25px;
}
.auth .login-form form button {
  background-color: #253560;
  border-radius: 2em;
  padding-inline: 20px;
  padding-block: 7px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border: none;
  padding-block: 10px;
  padding-inline: 60px;
  cursor: pointer;
}
.auth .login-form form button:hover {
  background-color: #ffffff;
  border: 1px solid black;
  font-weight: 700;
  color: #253560;
}
.auth .login-form form button:hover {
  background-color: #0d193f;
  color: #fff;
}
.auth .login-form form a {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}
.auth .login-form strong {
  color: rgb(224, 33, 33);
  font-size: smaller;
}

.tabel {
  /* Centering modals vertically and horizontally */
  /* Media query untuk perangkat kecil */
}
.tabel #pengajuandokumen-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #pengajuandokumen-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #pengajuandokumen-table_wrapper .dataTables_length,
.tabel #pengajuandokumen-table_wrapper .dataTables_filter,
.tabel #pengajuandokumen-table_wrapper .dataTables_info,
.tabel #pengajuandokumen-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #pengajuandokumen-table_wrapper .dataTables_length select,
.tabel #pengajuandokumen-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel #laporankeuangan-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #laporankeuangan-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #laporankeuangan-table_wrapper .dataTables_length,
.tabel #laporankeuangan-table_wrapper .dataTables_filter,
.tabel #laporankeuangan-table_wrapper .dataTables_info,
.tabel #laporankeuangan-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #laporankeuangan-table_wrapper .dataTables_length select,
.tabel #laporankeuangan-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel #umkm-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #umkm-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #umkm-table_wrapper .dataTables_length,
.tabel #umkm-table_wrapper .dataTables_filter,
.tabel #umkm-table_wrapper .dataTables_info,
.tabel #umkm-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #umkm-table_wrapper .dataTables_length select,
.tabel #umkm-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel #pengumuman-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #pengumuman-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #pengumuman-table_wrapper .dataTables_length,
.tabel #pengumuman-table_wrapper .dataTables_filter,
.tabel #pengumuman-table_wrapper .dataTables_info,
.tabel #pengumuman-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #pengumuman-table_wrapper .dataTables_length select,
.tabel #pengumuman-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel #rw-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #rw-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #rw-table_wrapper .dataTables_length,
.tabel #rw-table_wrapper .dataTables_filter,
.tabel #rw-table_wrapper .dataTables_info,
.tabel #rw-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #rw-table_wrapper .dataTables_length select,
.tabel #rw-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel #rt-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #rt-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #rt-table_wrapper .dataTables_length,
.tabel #rt-table_wrapper .dataTables_filter,
.tabel #rt-table_wrapper .dataTables_info,
.tabel #rt-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #rt-table_wrapper .dataTables_length select,
.tabel #rt-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel #keluarga-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #keluarga-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #keluarga-table_wrapper .dataTables_length,
.tabel #keluarga-table_wrapper .dataTables_filter,
.tabel #keluarga-table_wrapper .dataTables_info,
.tabel #keluarga-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #keluarga-table_wrapper .dataTables_length select,
.tabel #keluarga-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel #penduduk-table {
  font-size: 0.85rem;
  /* Ukuran font teks */
}
.tabel #penduduk-table .dataTables_scrollBody {
  overflow-x: auto;
  /* Menampilkan scrollbar horizontal jika diperlukan */
}
.tabel #penduduk-table_wrapper .dataTables_length,
.tabel #penduduk-table_wrapper .dataTables_filter,
.tabel #penduduk-table_wrapper .dataTables_info,
.tabel #penduduk-table_wrapper .dataTables_paginate {
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen kontrol tabel */
}
.tabel #penduduk-table_wrapper .dataTables_length select,
.tabel #penduduk-table_wrapper .dataTables_filter input {
  padding: 0.25rem 0.5rem;
  /* Padding untuk elemen-elemen input dan tombol */
  font-size: 0.85rem;
  /* Ukuran font untuk elemen-elemen input dan tombol */
}
.tabel .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 1rem);
}
@media (max-width: 575.98px) {
  .tabel .modal-dialog {
    min-height: calc(100vh - 1rem);
  }
}/*# sourceMappingURL=app.css.map */