// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import url('/node_modules/bootstrap/');
// @import 'bootstrap/scss/bootstrap';

// Icons
// @import url('/node_modules/bootstrap-icons/');
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Datatables
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-select-bs5/css/select.bootstrap5.css";

// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// variabel
$primaryCol: #253560;
$secondaryCol: #152551;
$tertiaryCol: #7384b3;
$fourthCol: #4461AE;

@mixin heading-center {
    text-align: center;
    color: $primaryCol;
    font-weight: 600;
}

@mixin tombol {
    background-color: $primaryCol;
    border-radius: 2em;
    padding-inline: 20px;
    padding-block: 7px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #ffffff;
        border: 1px solid black;
        font-weight: 700;
        color: $primaryCol;
    }
}

@mixin tombolAdd {
    background-color: rgb(7, 165, 83);
    border-radius: 0.7em;
    padding-inline: 20px;
    padding-block: 7px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    transition: 0.1s ease-in-out;

    &:hover {
        // padding-inline: 19px;
        // padding-block: 6px;
        background-color: #ffffff;
        border: 0px solid rgb(7, 165, 83);
        font-weight: 700;
        color: rgb(7, 165, 83);
    }
}

@mixin tombolShow {
    background-color: rgb(100, 136, 234);
    border-radius: 0.7em;
    padding-inline: 18px;
    padding-block: 7px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    transition: 0.1s ease-in-out;

    &:hover {
        padding-inline: 17px;
        padding-block: 6px;
        background-color: #ffffff;
        // border: 1px solid rgb(247, 144, 34);
        font-weight: 700;
        color: rgb(100, 136, 234);
    }
}

@mixin tombolDelete {
    background-color: rgb(195, 8, 8);
    border-radius: 0.7em;
    padding-inline: 10px;
    padding-block: 7px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    transition: 0.1s ease-in-out;

    &:hover {
        padding-inline: 9px;
        padding-block: 6px;
        background-color: #ffffff;
        // border: 1px solid rgb(195, 8, 8);
        font-weight: 700;
        color: rgb(195, 8, 8);
    }
}

@mixin tombolEdit {
    background-color: rgb(247, 144, 34);
    border-radius: 0.7em;
    padding-inline: 18px;
    padding-block: 7px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    transition: 0.1s;

    &:hover {
        padding-inline: 17px;
        padding-block: 6px;
        background-color: #ffffff;
        // border: 1px solid rgb(247, 144, 34);
        font-weight: 700;
        color: rgb(247, 144, 34);
    }
}

.primary {
    @include tombol();
}

.secondary {
    color: $secondaryCol;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: $secondaryCol;
        color: #fff;
        box-shadow: 5px 5px 5px 1px #5c5a5a;
    }
}

.tertiary {
    background-color: $tertiaryCol;
}

.fourth {
    background-color: $fourthCol;
}

.orange {
    background-color: rgb(247, 144, 34);
}

// ::after, ::before {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// mixin


.aktif {
    // display: inline;
    width: 220px;
    border-radius: 10px;
    background-color: #152551;

    /* Ganti dengan warna yang diinginkan */
    // fontc: white;
    p {
        color: white;
    }

}

// .content.nav-item.active {
//     background-color: red; /* Ganti dengan warna yang diinginkan */
// }


// style
body {

    // margin: 0;
    .btn-add {
        @include tombolAdd();
    }

    .btn-edit {
        background-color: rgb(247, 144, 34);
        border-radius: 0.7em;
        padding-inline: 18px;
        padding-block: 7px;
        color: #ffffff;
        text-decoration: none;
        border: none;
        transition: 0.1s;

        &:hover {
            // padding-inline: 17px;
            // padding-block: 6px;
            background-color: rgb(244, 212, 178);
            // border: 1px solid rgb(247, 144, 34);
            font-weight: 700;
            color: rgb(247, 144, 34);
        }
    }

    .btn-show {
        background-color: rgb(100, 136, 234);
        border-radius: 0.7em;
        padding-inline: 18px;
        padding-block: 7px;
        color: #ffffff;
        text-decoration: none;
        border: none;
        transition: 0.1s;
    
        &:hover {
            // padding-inline: 17px;
            // padding-block: 6px;
            background-color: rgb(174, 234, 249);
            // border: 1px solid rgb(100, 136, 234)
            font-weight: 700;
            color: rgb(100, 136, 234)
        }
    }

    .container-action {
        display: inline-block;

        .btn-show{
            @include tombolShow();
        }

        .btn-edit {
            @include tombolEdit();
            // margin-inline: 10px;
        }

        .btn-delete {
            @include tombolDelete();
            // margin-inline: 10px;
        }
    }

    .container-fluid-nav {
        width: 100vw; // Atur lebar sesuai viewport width
        padding-right: 15px; // Tambahkan sedikit padding kanan agar konten tidak menempel langsung ke tepi layar
        padding-left: 15px; // Tambahkan sedikit padding kiri agar konten tidak menempel langsung ke tepi layar
    }

    .main-image {
        position: absolute;
        top: 130px;
        left: 710px;
        width: 32%;
        height: auto;
        // z-index: -1;
        // object-fit: cover;
        // object-position: 50vh 0vh; /* Sesuaikan dengan posisi yang diinginkan */
        // background-color: transparent;

        /* Warna latar belakang jika gambar tidak tersedia */
        @media screen and (min-width: 1370px) {
            // position: relative;
            /* Mengubah posisi menjadi relatif untuk menempatkan di bawah container */
            top: 100px;
            left: 350px;
            opacity: 20%;
            width: 50%;
            display: none;
            /* Mengisi lebar container penuh */
            // padding-top: 90px;
            /* Atur jarak antara gambar dan container */
        }

        /* Warna latar belakang jika gambar tidak tersedia */
        @media screen and (max-width: 992px) {
            // position: relative;
            /* Mengubah posisi menjadi relatif untuk menempatkan di bawah container */
            top: 100px;
            left: 200px;
            opacity: 20%;
            width: 50%;
            display: none;
            /* Mengisi lebar container penuh */
            // padding-top: 90px;
            /* Atur jarak antara gambar dan container */
        }

        // @media screen and (max-width:500px) {
        //     // position: relative;
        //     /* Mengubah posisi menjadi relatif untuk menempatkan di bawah container */
        //     top: auto;
        //     left: 110px;
        //     // width: 70%; /* Mengisi lebar container penuh */
        //     // padding-top: 90px;
        // }
    }

    h1 {
        @include heading-center();
    }

    font-family: "Poppins",
    sans-serif;
    width: 99%;
    background-color: #E9E9E9;
    height: 100vh;

    // @media screen and (max-width: 992px) {
    //     background-position-y: 70vh;
    //     background-position-x: 50vh;
    // }

    // navbar
    .custom-nav {
        background-color: #ffffff;
        padding-inline: 17px;
        border-radius: 4em;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
        /* Penambahan bayangan */
        // text-shadow: 30px 30px 30px solid #0d193f;

        .navbar-brand {
            img {
                width: auto;
                height: 40px;
                margin-left: 25px;
                margin-right: 10px;
                margin-bottom: 5px;
            }

            span {
                color: $primaryCol;
                font-weight: 600;
                font-size: 1.4rem;
            }
        }

        .navbar-toggler {
            // background-color: none;
            border: none;
            border-radius: 2em;
            margin-inline: 10px;
            transition: 0.4s ease-in-out;

            &:hover {
                border: 1px solid $primaryCol;
                background-color: lighten($color: $primaryCol, $amount: 65%);
                transition: 0.4s ease-in-out;
            }
        }

        #navbarSupportedContent {
            @media screen and (max-width: 992px) {
                // background-color: $tertiaryCol;
                padding: 20px;
                border-bottom-right-radius: 2em;
                border-bottom-left-radius: 2em;
                // border-radius: 0;
                transition: 0.3s ease;
            }

            // max-width: 70%;
            .navbar-nav {

                // max-width: 50%;
                .nav-item {
                    .nav-link {
                        color: $primaryCol;
                        // text-transform: uppercase;
                        font-weight: 400;
                        font-size: 18px;
                        margin-right: 4px;
                        transition: 0.3s ease;

                        &:hover {
                            background-color: $primaryCol;
                            border-radius: 2em;
                            padding-inline: 20px;
                            color: lighten($color: $primaryCol, $amount: 100%);
                        }

                        // .dropdown-item {
                        //     @include tombol();
                        // }
                    }

                    .fitur-btn {
                        @include tombol();
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {
            padding-block: 10px;
            // padding-inline: 10px;
            // margin-top: -1em;
        }
    }

    // landing text
    .container-landing {
        // margin-top: 10.5rem;
        padding-top: 10.5rem;

        .custom-section {
            color: $primaryCol;
            // margin-top: 50px;
            // margin-inline-start: 100px;
            // padding-inline: 140px;

            h2 {
                // text-align: right;
                font-weight: 600;
                font-size: 2.7rem;
                // text-align: right;
                color: $secondaryCol;
                // white-space: nowrap;
            }

            p {
                margin-top: 20px;
                margin-bottom: 35px;
                font-weight: 300;
                font-size: 1rem;
                width: 121%;
            }

            a {
                @include tombol();
            }

            /* Warna latar belakang jika gambar tidak tersedia */
            @media screen and (min-width: 1370px) {
                justify-content: center;
                margin: 0;
                padding: 0;
                text-align: center;

                p {
                    width: 100%;
                    font-weight: 500;
                }

                h5 {
                    font-weight: 650;
                    font-size: 150%;
                }

                h2 {
                    font-weight: 650;
                    font-size: 320%;
                }
            }

            @media screen and (max-width: 992px) {
                justify-content: center;
                margin: 0;
                padding: 0;
                text-align: center;

                p {
                    width: 100%;
                    font-weight: 600;
                }

                h5 {
                    font-weight: 650;
                    font-size: 150%;
                }

                h2 {
                    font-weight: 650;
                    font-size: 350%;
                }
            }
        }
    }


    // stats
    .container-rtrw {

        background-color: transparent;
        margin-block: 7.5rem;

        // *,
        // *::before,
        // *::after {
        //     box-sizing: border-box;
        // }

        .wrapper {
            background: linear-gradient(60deg, #420285, #08BDBD);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 13rem;
            margin-bottom: 15rem;
        }

        .carousel {
            position: relative;
            width: 100%;
            max-width: 500px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .carousel__item {
            display: flex;
            align-items: center;
            position: absolute;
            width: 100%;
            padding: 0 12px;
            opacity: 0;
            filter: drop-shadow(0 2px 2px #555);
            will-change: transform, opacity;
            -webkit-animation: carousel-animate-vertical 27s linear infinite;
            animation: carousel-animate-vertical 27s linear infinite;
        }

        .carousel__item:nth-child(1) {
            -webkit-animation-delay: calc(3s * -1);
            animation-delay: calc(3s * -1);
        }

        .carousel__item:nth-child(2) {
            -webkit-animation-delay: calc(3s * 0);
            animation-delay: calc(3s * 0);
        }

        .carousel__item:nth-child(3) {
            -webkit-animation-delay: calc(3s * 1);
            animation-delay: calc(3s * 1);
        }

        .carousel__item:nth-child(4) {
            -webkit-animation-delay: calc(3s * 2);
            animation-delay: calc(3s * 2);
        }

        .carousel__item:nth-child(5) {
            -webkit-animation-delay: calc(3s * 3);
            animation-delay: calc(3s * 3);
        }

        .carousel__item:nth-child(6) {
            -webkit-animation-delay: calc(3s * 4);
            animation-delay: calc(3s * 4);
        }

        .carousel__item:nth-child(7) {
            -webkit-animation-delay: calc(3s * 5);
            animation-delay: calc(3s * 5);
        }

        .carousel__item:nth-child(8) {
            -webkit-animation-delay: calc(3s * 6);
            animation-delay: calc(3s * 6);
        }

        .carousel__item:last-child {
            -webkit-animation-delay: calc(-3s * 2);
            animation-delay: calc(-3s * 2);
        }

        .carousel__item-head {
            border-radius: 50%;
            background-color: #d7f7fc;
            width: 90px;
            height: 90px;
            padding: 14px;
            position: relative;
            margin-right: -45px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
        }

        .carousel__item-body {
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            padding: 16px 20px 16px 70px;
        }

        .title {
            text-transform: uppercase;
            font-size: 20px;
            margin-top: 10px;
        }

        @-webkit-keyframes carousel-animate-vertical {
            0% {
                transform: translateY(100%) scale(0.5);
                opacity: 0;
                visibility: hidden;
            }

            3%,
            11.1111111111% {
                transform: translateY(100%) scale(0.7);
                opacity: 0.4;
                visibility: visible;
            }

            14.1111111111%,
            22.2222222222% {
                transform: translateY(0) scale(1);
                opacity: 1;
                visibility: visible;
            }

            25.2222222222%,
            33.3333333333% {
                transform: translateY(-100%) scale(0.7);
                opacity: 0.4;
                visibility: visible;
            }

            36.3333333333% {
                transform: translateY(-100%) scale(0.5);
                opacity: 0;
                visibility: visible;
            }

            100% {
                transform: translateY(-100%) scale(0.5);
                opacity: 0;
                visibility: hidden;
            }
        }

        @keyframes carousel-animate-vertical {
            0% {
                transform: translateY(100%) scale(0.5);
                opacity: 0;
                visibility: hidden;
            }

            3%,
            11.1111111111% {
                transform: translateY(100%) scale(0.7);
                opacity: 0.4;
                visibility: visible;
            }

            14.1111111111%,
            22.2222222222% {
                transform: translateY(0) scale(1);
                opacity: 1;
                visibility: visible;
            }

            25.2222222222%,
            33.3333333333% {
                transform: translateY(-100%) scale(0.7);
                opacity: 0.4;
                visibility: visible;
            }

            36.3333333333% {
                transform: translateY(-100%) scale(0.5);
                opacity: 0;
                visibility: visible;
            }

            100% {
                transform: translateY(-100%) scale(0.5);
                opacity: 0;
                visibility: hidden;
            }
        }

        @media screen and (max-width: 992px) {
            margin-top: 7rem;
        }
    }

    .container-statsngal {
        background-color: transparent;
        margin-top: 7.5rem;
        margin-bottom: -5rem;

        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.5);
            /* Hitam dengan 50% opacity */
            border: 1px solid $secondaryCol;
        }

        .card {
            background-color: transparent;
            text-align: center;
            padding-block: 25px;
            width: 150px;
            border: none;

            .card-icon {
                font-size: 4rem;
                /* Ukuran ikon diperbesar */
                margin-bottom: 5px;
                /* Jarak antara ikon dan angka */
            }

            .span-head {
                font-size: 125%;
                font-weight: 600;
            }

            .span-count {
                font-weight: 600;
                font-size: 45px;
            }
        }

        @media screen and (max-width: 992px) {
            margin-top: 7rem;
        }
    }

    .container-head {
        background-color: transparent;
        margin-block: 10rem;
        text-align: center;

        p {
            width: 100%;
            margin-block: 33px;
        }

        .card {
            background-color: transparent;
            text-align: center;
            padding: 20px;
            border: none;

            .card-icon {
                font-size: 3rem;
                /* Ukuran ikon diperbesar */
                margin-bottom: 10px;
                /* Jarak antara ikon dan angka */
            }

            .span-head {
                font-size: 90%;
                font-weight: 500;
            }

            .span-count {
                font-weight: 600;
                font-size: xx-large;
            }
        }

        @media screen and (max-width: 992px) {
            // margin-block: 5rem;
        }
    }

    // pengumuman
    .container-pengumuman {
        background-color: transparent;
        margin-top: 8rem;
        text-align: center;

        .row {
            // margin-top: 10px;

            .card {
                // margin-top: 25px;
                background-color: $primaryCol;
                color: #ffffffdf;
                text-align: center;
                // padding: 20px;

            }

            // @media screen and (max-width: 992px) {
            //     // margin-block: 5rem;
            // }
        }

        a {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            @include tombol();
        }
    }

    // layanan
    .container-layanan {
        background-color: transparent;
        margin-top: 9rem;

        // margin-bottom: 4rem;
        .card {
            width: 225px;
            margin-top: 30px;
            background-color: $primaryCol;
            border-radius: 2em;
            padding-inline: 20px;
            // padding-block: 7px;
            color: #ffffff;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            text-align: center;
            align-items: center;
            padding-block: 25px;

            &:hover {
                background-color: #ffffff;
                border: 1px solid black;
                border-radius: 50%;
                font-weight: 700;
                color: $primaryCol;
            }

            // border: none;
            .card-icon {
                font-size: 4rem;
                /* Ukuran ikon diperbesar */
                margin-bottom: 5px;
                /* Jarak antara ikon dan angka */
            }

            .span-head {
                font-size: 130%;
                padding-inline: 25px;
                font-weight: 500;
            }
        }

        @media screen and (max-width: 992px) {
            margin-top: 7rem;
        }
    }

    .container-umkm,
    .container-p {
        background-color: transparent;

        .heading-center {
            margin-top: 6rem;
        }

        text-align: center;

        .card-container {
            text-align: justify;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            /* Menentukan jumlah kolom dan lebar minimum dan maksimum */
            gap: 30px;
            /* Jarak antar kartu */
        }

        .fixedButton {
            position: fixed;
            bottom: 20px;
            /* Ubah sesuai dengan jarak dari bawah yang diinginkan */
            right: 20px;
            /* Ubah sesuai dengan jarak dari kanan yang diinginkan */
            z-index: 999;
            /* Atur nilai z-index agar tombol muncul di depan kartu-kartu */
            // box-shadow: 9px 9px 9px rgba(8, 12, 137, 0.685); /* Menambahkan bayangan */
            // border-radius: 55px;
        }

        .roundedFixedBtn {
            // height: 60px;
            // width: 60px;
            // padding: 13px;
            // padding-inline: 20px;  
            border-radius: 25px;
            border-style: double;
            border-color: #ffffff;
            background-color: $secondaryCol;
            cursor: pointer;

            button {
                i {
                    margin-right: 11px;
                }

                @include tombol();
                padding: 10px;
                padding-inline: 25px;
                border: none;
                background-color: transparent;
                text-align: center;
                font-size: 1em;
                font-weight: 500;
                // color: white;
            }
        }
    }

    footer {
        color: #ffffff;
        margin-top: 4em;
        width: 101%;
        background-color: $primaryCol;

        .f1 {
            padding-inline: 90px;
        }

        .f2 {
            background-color: $secondaryCol;
        }

        .no-footer {
            color: white;
            /* Warna teks normal */
            // text-decoration: underline;
            // transition: color 0.3s;
            font-style: none;
        }

        .no-footer:hover {
            color: #c0c0c0;
            /* Warna teks saat di hover */
        }
    }


    .container-p {
        background-color: transparent;
        margin-top: 6rem;
        text-align: center;

        p {
            width: 100%;
            margin-block: 33px;
        }

        @import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
        $main-green: #79dd09 !default;
        $main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
        $main-yellow: #bdbb49 !default;
        $main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
        $main-red: #bd150b !default;
        $main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
        $main-blue: #0076bd !default;
        $main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

        /* This pen */
        body {
            font-family: "Baloo 2", cursive;
            font-size: 16px;
            color: #ffffff;
            text-rendering: optimizeLegibility;
            font-weight: initial;
        }


        .light {
            background: #f3f5f7;
        }

        a,
        a:hover {
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }

        #pageHeaderTitle {
            margin: 2rem 0;
            text-transform: uppercase;
            text-align: center;
            font-size: 2.5rem;
        }

        /* Cards */
        .postcard {
            flex-wrap: wrap;
            display: flex;

            box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
            border-radius: 10px;
            margin: 0 0 2rem 0;
            overflow: hidden;
            position: relative;
            color: #ffffff;

            &.light {
                background-color: #e1e5ea;
            }

            .t-dark {
                color: #18151f;
            }

            a {
                color: inherit;
            }

            h1,
            .h1 {
                margin-bottom: 0.5rem;
                font-weight: 500;
                line-height: 1.2;
            }

            .small {
                font-size: 80%;
            }

            .postcard__title {
                font-size: 1.75rem;
            }

            .postcard__img {
                max-height: 180px;
                width: 100%;
                object-fit: cover;
                position: relative;
            }

            .postcard__img_link {
                display: contents;
            }

            .postcard__bar {
                width: 50px;
                height: 10px;
                margin: 10px 0;
                border-radius: 5px;
                background-color: #424242;
                transition: width 0.2s ease;
            }

            .postcard__text {
                padding: 1.5rem;
                position: relative;
                display: flex;
                flex-direction: column;
            }

            .postcard__preview-txt {
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: justify;
                height: 100%;
            }

            .postcard__tagbox {
                display: flex;
                flex-flow: row wrap;
                font-size: 14px;
                margin: 20px 0 0 0;
                padding: 0;
                justify-content: center;

                .tag__item {
                    display: inline-block;
                    background: rgba(83, 83, 83, 0.4);
                    border-radius: 3px;
                    padding: 2.5px 10px;
                    margin: 0 5px 5px 0;
                    cursor: default;
                    user-select: none;
                    transition: background-color 0.3s;

                    &:hover {
                        background: rgba(83, 83, 83, 0.8);
                    }
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(-70deg, #424242, transparent 50%);
                opacity: 1;
                border-radius: 10px;
            }

            &:hover .postcard__bar {
                width: 100px;
            }
        }

        @media screen and (min-width: 769px) {
            .postcard {
                flex-wrap: inherit;

                .postcard__title {
                    font-size: 2rem;
                }

                .postcard__tagbox {
                    justify-content: start;
                }

                .postcard__img {
                    max-width: 300px;
                    max-height: 100%;
                    transition: transform 0.3s ease;
                }

                .postcard__text {
                    padding: 3rem;
                    width: 100%;
                }


                .media.postcard__text:before {
                    content: "";
                    position: absolute;
                    display: block;
                    background: #18151f;
                    top: -20%;
                    height: 130%;
                    width: 55px;
                }

                &:hover .postcard__img {
                    transform: scale(1.1);
                }

                &:nth-child(2n+1) {
                    flex-direction: row;
                }

                &:nth-child(2n+0) {
                    flex-direction: row-reverse;
                }

                &:nth-child(2n+1) .postcard__text::before {
                    left: -12px !important;
                    // transform: rotate(4deg);
                }

                &:nth-child(2n+0) .postcard__text::before {
                    right: -12px !important;
                    // transform: rotate(-4deg);
                }
            }
        }

        @media screen and (min-width: 1024px) {
            .postcard__text {
                padding: 2rem 3.5rem;
            }

            .postcard__text:before {
                content: "";
                position: absolute;
                display: block;

                top: -20%;
                height: 130%;
                width: 55px;
            }

            .postcard.dark {
                .postcard__text:before {
                    background: #18151f;
                }
            }

            .postcard.light {
                .postcard__text:before {
                    background: #e1e5ea;
                }
            }
        }

        /* COLORS */
        .postcard .postcard__tagbox .green.play:hover {
            background: $main-green;
            color: black;
        }

        .green .postcard__title:hover {
            color: $main-green;
        }

        .green .postcard__bar {
            background-color: $main-green;
        }

        .green::before {
            background-image: linear-gradient(-30deg,
                    $main-green-rgb-015,
                    transparent 50%);
        }

        .green:nth-child(2n)::before {
            background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
        }

        .postcard .postcard__tagbox .blue.play:hover {
            background: $main-blue;
        }

        // .blue .postcard__title:hover {
        //     color: $main-blue;
        // }

        .blue .postcard__bar {
            background-color: $main-blue;
        }

        .blue::before {
            background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
        }

        .blue:nth-child(2n)::before {
            background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
        }

        .postcard .postcard__tagbox .red.play:hover {
            background: $main-red;
        }

        // .red .postcard__title:hover {
        //     color: $main-red;
        // }

        .red .postcard__bar {
            background-color: $main-red;
        }

        .red::before {
            background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
        }

        .red:nth-child(2n)::before {
            background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
        }

        .postcard .postcard__tagbox .yellow.play:hover {
            background: $main-yellow;
            color: black;
        }

        // .yellow .postcard__title:hover {
        //     color: $main-yellow;
        // }

        .yellow .postcard__bar {
            background-color: $main-yellow;
        }

        .yellow::before {
            background-image: linear-gradient(-30deg,
                    $main-yellow-rgb-015,
                    transparent 50%);
        }

        .yellow:nth-child(2n)::before {
            background-image: linear-gradient(30deg,
                    $main-yellow-rgb-015,
                    transparent 50%);
        }

        @media screen and (min-width: 769px) {
            .green::before {
                background-image: linear-gradient(-80deg,
                        $main-green-rgb-015,
                        transparent 50%);
            }

            .green:nth-child(2n)::before {
                background-image: linear-gradient(80deg,
                        $main-green-rgb-015,
                        transparent 50%);
            }

            .blue::before {
                background-image: linear-gradient(-80deg,
                        $main-blue-rgb-015,
                        transparent 50%);
            }

            .blue:nth-child(2n)::before {
                background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
            }

            .red::before {
                background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
            }

            .red:nth-child(2n)::before {
                background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
            }

            .yellow::before {
                background-image: linear-gradient(-80deg,
                        $main-yellow-rgb-015,
                        transparent 50%);
            }

            .yellow:nth-child(2n)::before {
                background-image: linear-gradient(80deg,
                        $main-yellow-rgb-015,
                        transparent 50%);
            }
        }

        @media screen and (max-width: 992px) {
            // margin-block: 5rem;
        }
    }

    .wrapper {
        display: flex;

        #sidebar {
            width: 70px;
            min-width: 70px;
            z-index: 1000;
            transition: all .25s ease-in-out;
            display: flex;
            flex-direction: column;
            background-color: $secondaryCol;

            #toggle-btn {
                // position: fixed;
                background-color: transparent;
                cursor: pointer;
                border: 0;
                padding: 1rem 1.5rem;

                i {
                    font-size: 1.5rem;
                    color: white;
                }
            }

            .sidebar-logo {
                // position: fixed;
                margin: auto 0;

                a {
                    color: white;
                    font-size: 1.15rem;
                    font-weight: 600;
                }
            }

            .sidebar-nav {
                // position: fixed;
                padding: 2rem 0;
                flex: 1 1 auto;

                .sidebar-item {
                    position: relative;
                }

                .active {
                    background-color: lighten($color: $secondaryCol, $amount: 5%);
                    border-left: 3px solid white;
                }

                button.sidebar-link {
                    background-color: $secondaryCol;
                    padding-right: 162px;
                    transition: all .25s ease-in-out;
                }

                .sidebar-link {
                    padding: .6rem 1.5rem;
                    color: white;
                    display: block;
                    font-size: 1.1rem;
                    white-space: nowrap;
                    border: 0;

                    &:hover {
                        background-color: $primaryCol;
                        border-left: 3px solid white;
                    }

                    i {
                        font-size: 1.2rem;
                        margin-right: .75rem;
                    }
                }

                .sidebar-footer {
                    margin-top: 10px;
                    padding-top: 10px;
                    border-top: 3px solid orange;
                }
            }
        }

        #sidebar.expand {
            width: 280px;
            min-width: 280px;

            .single-item-menu {
                margin-left: 36px;
            }
        }

        #sidebar:not(.expand) .sidebar-logo,
        #sidebar:not(.expand) .sidebar-link span {
            display: none;

            .single-item-menu {
                margin-left: 0px;
            }
        }

        #sidebar:not(.expand) button.sidebar-link {
            // width: 70px;
            padding-right: 12px;
        }

        #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
            position: absolute;
            top: 0;
            left: 70px;
            background-color: $secondaryCol;
            padding: 0;
            min-width: 10rem;
            display: none;
        }

        // #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
        //     display: block;
        //     max-height: 15rem;
        //     width: 100%;
        //     opacity: 1;
        // }


        #sidebar:not(.expand) .sidebar-dropdown {
            display: none;
        }

        #sidebar:not(.expand) .sidebar-dropdown.show {
            display: block;
            max-height: 15rem;
            width: 100%;
            opacity: 1;
        }


        #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
            border: solid;
            border-width: 0 .075rem .075rem 0;
            content: "";
            display: inline-block;
            padding: 2px;
            position: absolute;
            right: 1.5rem;
            top: 1.25rem;
            transform: rotate(-135deg);
            transition: all .2s ease-out;
        }

        #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
            transform: rotate(45deg);
            transition: all .2s ease-out;
        }

        .main {
            min-height: 100vh;
            width: 100%;
            overflow: hidden;
            transition: all 0.35s ease-in-out;
            background-color: black;
        }
    }

    // .sidebar {
    //     z-index: 1000;
    //     width: 20%;
    //     height: 100vh;
    //     position: fixed !important;
    //     left: 0px;
    //     background-color: $primaryCol;

    //     .nav-link,
    //     .bi {
    //         color: #ffffff;
    //     }
    // }

    .card-header-tabel {
        background-color: $primaryCol;

        h5 {
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;
        }
    }

    hr.tabel {
        margin-top: -20px;
        height: 10px;
        color: orange;
        background-color: orange;
        border: orange;
        opacity: 0.99;
    }

    // .card-tabel {
    //     max-width: fit-content;
    // }

    hr.hrmain {
        margin-top: -20px;
        height: 10px;
        color: $secondaryCol;
        background-color: $secondaryCol;
        border: $secondaryCol;
        opacity: 0.99;
    }
}

.auth {
    background-color: $secondaryCol;
    height: 100vh;
    /* Menggunakan tinggi viewport */

    .container-auth {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* Menggunakan tinggi viewport */
    }

    .login-form {
        background-color: $fourthCol;
        width: 400px;
        padding: 20px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Menengahkan secara vertikal */
        /* Menengahkan secara horizontal */
        margin: auto;
        /* Menengahkan secara horizontal */

        .form-header {
            display: inline;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            padding-inline: 20px;
            width: 100%;

            h2 {
                text-align: center;
                color: #ffffff;
                margin: 0;
            }

            a {
                align-self: flex-start;
                color: #fff;
                border-radius: 4px;
                text-decoration: none;

                i {
                    font-size: 150%;
                }
            }
        }

        .sirw_icon {
            width: auto;
            height: 100px;
            display: flex;
            margin-bottom: 15px;
            justify-items: center;
            align-self: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-inline: 20px;
            margin-block: 13px;

            input {
                margin-bottom: 15px;
                padding-inline: 20px;
                padding-block: 10px;
                width: 130%;
                border: 1px solid #ddd;
                border-radius: 25px;
            }

            button {
                @include tombol();

                &:hover {
                    background-color: #0d193f;
                    color: #fff;
                }

                border: none;
                padding-block: 10px;
                padding-inline: 60px;
                cursor: pointer;
            }

            a {
                color: #fff;
                display: block;
                margin-bottom: 10px;
            }
        }

        strong {
            color: rgb(224, 33, 33);
            font-size: smaller;
        }
    }
}




.tabel {

    
    // tr.even {
    //     background-color: #f9f9f9;
    // }
    
    // tr.odd {
    //     background-color: #f9f9f9;
    // }

    // tr:hover {
    //     background-color: #30465e;
    // }

    #pengajuandokumen-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #pengajuandokumen-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #pengajuandokumen-table_wrapper .dataTables_length,
    #pengajuandokumen-table_wrapper .dataTables_filter,
    #pengajuandokumen-table_wrapper .dataTables_info,
    #pengajuandokumen-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #pengajuandokumen-table_wrapper .dataTables_length select,
    #pengajuandokumen-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    #laporankeuangan-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #laporankeuangan-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #laporankeuangan-table_wrapper .dataTables_length,
    #laporankeuangan-table_wrapper .dataTables_filter,
    #laporankeuangan-table_wrapper .dataTables_info,
    #laporankeuangan-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #laporankeuangan-table_wrapper .dataTables_length select,
    #laporankeuangan-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    #umkm-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #umkm-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #umkm-table_wrapper .dataTables_length,
    #umkm-table_wrapper .dataTables_filter,
    #umkm-table_wrapper .dataTables_info,
    #umkm-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #umkm-table_wrapper .dataTables_length select,
    #umkm-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    #pengumuman-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #pengumuman-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #pengumuman-table_wrapper .dataTables_length,
    #pengumuman-table_wrapper .dataTables_filter,
    #pengumuman-table_wrapper .dataTables_info,
    #pengumuman-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #pengumuman-table_wrapper .dataTables_length select,
    #pengumuman-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    #rw-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #rw-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #rw-table_wrapper .dataTables_length,
    #rw-table_wrapper .dataTables_filter,
    #rw-table_wrapper .dataTables_info,
    #rw-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #rw-table_wrapper .dataTables_length select,
    #rw-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    #rt-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #rt-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #rt-table_wrapper .dataTables_length,
    #rt-table_wrapper .dataTables_filter,
    #rt-table_wrapper .dataTables_info,
    #rt-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #rt-table_wrapper .dataTables_length select,
    #rt-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    #keluarga-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #keluarga-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #keluarga-table_wrapper .dataTables_length,
    #keluarga-table_wrapper .dataTables_filter,
    #keluarga-table_wrapper .dataTables_info,
    #keluarga-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #keluarga-table_wrapper .dataTables_length select,
    #keluarga-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    #penduduk-table {
        font-size: 0.85rem;
        /* Ukuran font teks */
    }

    #penduduk-table .dataTables_scrollBody {
        overflow-x: auto;
        /* Menampilkan scrollbar horizontal jika diperlukan */
    }

    #penduduk-table_wrapper .dataTables_length,
    #penduduk-table_wrapper .dataTables_filter,
    #penduduk-table_wrapper .dataTables_info,
    #penduduk-table_wrapper .dataTables_paginate {
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen kontrol tabel */
    }

    #penduduk-table_wrapper .dataTables_length select,
    #penduduk-table_wrapper .dataTables_filter input {
        padding: 0.25rem 0.5rem;
        /* Padding untuk elemen-elemen input dan tombol */
        font-size: 0.85rem;
        /* Ukuran font untuk elemen-elemen input dan tombol */
    }

    // #laporankeuangan-table th,
    // #laporankeuangan-table td {
    //     // padding: 0.5rem; /* Padding */
    // }

    // #laporankeuangan-table th:first-child,
    // #laporankeuangan-table td:first-child {
    //     // padding-left: 0.75rem; /* Padding kiri untuk kolom pertama */
    // }

    // #laporankeuangan-table th:last-child,
    // #laporankeuangan-table td:last-child {
    //     // padding-right: 0.75rem; /* Padding kanan untuk kolom terakhir */
    // }

    // #laporankeuangan-table_wrapper .dataTables_paginate .paginate_button {
    //     // margin: 0 0.1rem; /* Margin antara tombol paginasi */
    // }
}